page-login {

    #main {
        border: 1px solid black;
        text-align: center;
        height: 57vh;
    }

    #inside {
        margin-top: 19vh;
    }

    #facebook {
        background: #3b5998;
        border: 1px solid #4268f4;
        height: 10vh;
    }

    #gmail {
        background: #c71610;
        border: 1px solid red;
        height: 10vh;
    }

}
