page-login {

	#facebook {
		margin: 0;
		height: 50px;

		background: #6081C4;
		border-radius: 4px;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 100%;
		letter-spacing: 1.5px;
		color: #FFFFFF;
	}

	#gmail {
		margin: 0;
		height: 50px;

		background: #E62B33;
		border-radius: 4px;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 100%;
		letter-spacing: 1.5px;
		color: #FFFFFF;
	}

	#guide-btn {

		height: 50px;

		background: #612F2F;
		border-radius: 4px;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 2px;

		color: #F1F5F6;
		border-radius: 4px;

	}

	.logo {
		background-image: url(/assets/logo.svg);
		background-size: 100% 100%;
		width: 92px;
		height: 117px;
		margin: 0 auto;
		display: block;
	}

	.login-input {
		height: 50px;
		width: 100%;

		background: #FFFFFF;
		border: none;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: 1.575px;

		color: #8B999F;
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn-text {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: 1.75px;
		text-align: center;

		color: #8B999F;

		display: block;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 0 auto;
		margin-right: 0 auto;

	}

	a { 
		cursor: pointer;
		color: #8B999F; 
	}
	a:hover { 
		color: #2D3133;
	}


	.register {
		font-size: 16px;
		letter-spacing: 2px;
	}

	.welcome-text {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 2.5px;
		text-align: center;

		color: #000000;

		margin: 22px 0px 15px 0px;
	}

	.login-content {
		margin: 20px 20px 0px 20px;
	}

	span.fa {
		font-size: 1.75em;
		margin-right: 27px;
	}


	@media screen and (max-height: 655px) {
		.logo {
			width: 61.3px;
			height: 78px;
		}

		.welcome-text {
			margin: 17px 0px 15px;
			font-size: 18px;
		}

		.btn-text {
			margin-top: 12px;
			margin-bottom: 12px;
		}

		.login-content {
			margin-top: 5px;
		}

	}

}

