<ion-header>

  <ion-navbar color="brown">

    <button ion-button clear 
			(click)="closeModal()"
			class="cancel">
			<ion-icon name="arrow-back"></ion-icon>
		</button>

  </ion-navbar>

</ion-header>

<ion-content padding>

	<ion-card class="spot-card">

	<h4 class="title">
		{{ titulo }}
	</h4>

	<p class="details"> 
		{{ descripcion }}
	</p>

	<swiper 
		[config]="config" 
		*ngIf="lUrl != 0">
  		<div *ngFor="let key of keyFoto">
      		<img 
						class="fotoC" 
						src="http://digitalcook.info:8000/storage/{{ urlFoto[key].path }}"> 
  		</div>
	</swiper>

	</ion-card>

</ion-content>


