<!--
  Generated template for the UserZones page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="brown">

		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>Mis Zonas</ion-title>

    <!-- Right Side -->
    <ion-buttons end>
    	<button ion-button
				(click)="goToProfile()">
				<ion-icon 
					class="profile-img" 
					name="settings">
				</ion-icon>
			</button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<!--
<button 
	ion-button clear item-right 
	*ngIf='!isActive(guide)' 
	(click)='activate(guide)'>
	Activar
</button>

<button 
	ion-button clear item-right 
	*ngIf='isActive(guide)' 
	(click)='deactivate()'>	
	Desactivar
</button>

<button 
	(click)="download(guide)" 
	ion-button clear item-right>
	Detalles
</button>
-->

<ion-content>

	<div class="zone-list">
	<div 
		 class="zone-card" 
		 *ngFor="let guide of userGuides">

	<!-- On click show modal to active guide -->
	<ion-card 
	 	(click)="guideDetails(guide)"
		class="clickable-card" >

		<img 
			class="zone-img"
			src="./assets/Default.png" />

		<div class="zone-detail">

			<h2 class="zone-title"> 
				{{ guide.zona.name }} 
			</h2>

			<div class="zone-footer">
				<p> {{ guide.costo }}$ </p> <!-- Price -->
			</div>

		</div>

	</ion-card>

	</div>
	</div>

</ion-content>

