page-mapa {

	#map {
		width: 100%;
		height: 85%;
	}

	ion-navbar {
		font-family: Roboto;
		letter-spacing: 1px;
	}

	.image {
		display: block;
		margin: auto;
	}

	.spot-title {

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 100%;
		letter-spacing: 1.575px;

		color: #612F2F;

	}

	.spot-text {

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: 1.575px;

		color: #612F2F;

	}

	.audio-buttons {
		display: flex;
		justify-content: center;
	}

	.audio-buttons > button {
		color: #ccc;
		font-size: 1.7em;

		border-radius: 13px;
		height: 60px;
		opacity: 0.6;
	}

	#play-button {
		color: #fff;
		font-size: 2.4em;
	}

	.bottom-controls {
		height: 15%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		background-color: #612F2F;
	}

	.info {
		position: absolute;
		top: 5px;
		right: 5px;
	}

	.info > ion-badge {
		border-radius: 8px;
		text-align: center;
	}

	.playlist-menu {
		background-color: #E7E7E7;
		height: 100%;
		width: 100%;
	}

	.spot-item {

		background-color: #612F2F;

		padding-left: 30px;
		padding-right: 30px;

		width: 100%;
		height: 43px;

		display: flex;
		justify-content: space-between;

	}

	.spot-item > span {

		line-height: 43px;
		vertical-align: middle;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;

		color: #E3E3E3;

	}

	.spot-item > i {

		line-height: 43px;
		vertical-align: middle;
		font-size: 17px;
		color: #E3E3E3;

	}

	.aud-item {

		background-color: #F1F1F1;

		padding-left: 47px;
		padding-right: 30px;

		width: 100%;
		height: 43px;

		display: flex;
		justify-content: space-between;

	}

	.aud-item > span {

		line-height: 43px;
		vertical-align: middle;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;

		color: #323232;

	}

	.aud-item > i {
	
		line-height: 43px;
		vertical-align: middle;

		font-size: 17px;
		color: #612F2F;
	
	}

	.playlist-icon {
		font-size: 1.7em;
	}

	.listening {
		background-color: #E7E7E7;
	}

}
