page-refered {
    #vCenter {
        margin-top: 25vh;
    }

    #sendButton {
        border: 1px solid #13c13e;
    }

    #denyButton {
        background: #d1d655;
        border: 1px solid #c7cc4b;
    }
}
